*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 45, 112);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: #fff;
    height: 300px;
    width: 230px;
    
}

.box img {
    height: 50%;
    width: 100%;
    padding: 10px;
    object-fit: center;
    border-radius: 20px;
}

h2{
    margin: 5px;
}
button{
    margin: 20px;
    padding: 5px;
}