*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: #fff;
    height: 300px;
    width: 230px;
    border-radius: 15px;
    text-align: center;
    
}

.box img {
    height: 50%;
    width: 100%;
    padding: 10px;
    object-fit: center;
    border-radius: 20px;
    
}

h2{
    font-size: 25px;
    font-weight: 25px;
    margin: 
    5px 20px;
}

h5{
    color: red;
    font-size: 15px;
    font-weight: 25px;
}


.box button{
    margin: 5px;
    padding: 8px 12px;
    background-color: cadetblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}